<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Evolucao.Properties.Settings.connection_firebird"
            connectionString="Dsn=FireBird;uid=SYSDBA;pwd=masterkey" providerName="System.Data.Odbc" />
        <add name="Evolucao.Properties.Settings.ConnectionString" connectionString="Dsn=itatron"
            providerName="System.Data.Odbc" />
        <add name="Evolucao.Properties.Settings.ConnectionString1" connectionString="Dsn=Arquivos texto"
            providerName="System.Data.Odbc" />
        <add name="Evolucao.Properties.Settings.ConnectionString2" connectionString="Dsn=alfatech;uid=SYSDBA;pwd=masterkey"
            providerName="System.Data.Odbc" />
        <add name="Evolucao.Properties.Settings.ConnectionString3" connectionString="Dsn=unitron;uid=SYSDBA;pwd=masterkey"
            providerName="System.Data.Odbc" />
        <add name="Evolucao.Properties.Settings.ConnectionString4" connectionString="Dsn=evolucao;Driver={Firebird/InterBase(r) driver};dbname=localhost:\evolucao_dokinos\\evolucao.fdb;charset=NONE;uid=SYSDBA"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>